@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: 'Oswald', sans-serif;
    color: #3a3a3a;
}



/* NAVIGATION BAR */

.navbar {
    background-color: rgb(53, 48, 48);
}

.navbar-brand {
    font-size:25px;
}

ul {
    font-size: large;
    text-align: right;
}

.menu {
    margin-top: 2px;
    float: left;
}



/* JUMBOTRON */

.jumbotron-container {
    height: 100vh;
    background: url("../images/15.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    z-index: 1;
}

.jumbo {
    color: white;
}

.jumbo p {
    color:rgb(255, 255, 255);
    padding:5px;
    line-height: 40px;
    font-weight: 500;
    font-size: 2rem;
}

.divider {
    width: 100%;
    height: 3px;
    border: 0;
    background-color: rgb(255, 255, 255);    
}



/* CLASSES */

.class {
    margin-top: 50px;
    margin-bottom: 50px;
}

.row-class {
    margin-top: 60px;
}


/* GALLERY */

#gallery {
    background-color: rgb(186, 183, 183);
    padding-top: 50px;
    padding-bottom: 70px;
    margin: 0px;
}


/* TIMETABLE */

thead {
    background-color: #3a3a3a;
    color: white;
}


/* CONTACT  */

#contact {
    
    background: url("../images/gym1.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: left;
    margin-bottom:0px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;  
    opacity: 95%;
}

form {
    z-index: 1 !important;
    margin-top: 50px;
}

label {
    color: white;
}

#contact h2 {
    color: white;
    opacity: 100%;
}

form > button {
    width: 100%;
    margin-top: 10px;
    font-size: 20px !important;
}

h4 {
    margin-top: 50px;
    color: white;
    font-size: 1.4rem;
}

#top-h {
    margin-top: 55px;
}

#contact p {
    color: white !important;
}





/* FOOTER */

.footer-row {
    margin: 15px;
    text-align: center;
}

